// Fonts to include:
// @import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");

// Color Variables:
$green-highlight-color: #54e6af;
$dark-grey-color: #2c344b;
$near-black-background-color: #121725;
$white-color: #ffffff;
$blue-grey-color: #5a668a;
$lightest-grey-color: #c2cbe5;
$button-hover-color: #B3FFE2;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: $near-black-background-color;
  color: $lightest-grey-color;
  font-family: Chivo, sans-serif;
}

.landing-page-container__background-image {
  background-image: linear-gradient(rgba(18, 23, 37, 0.9),
      rgba(18, 23, 37, 0.9)), url('../assets/mobile/image-host.jpg');
  // background-image: linear-gradient(rgba(18, 23, 37, 0.9),
  //     rgba(18, 23, 37, 0.9)), url('../assets/desktop/logo.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;

  @media only screen and (min-width: 768px) {
    background-image: url('../assets/tablet/image-host.jpg');
    background-size: 491px;
    background-position: top right;
  }
}

.landing-page-container__content {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 24px;
  text-align: center;

  @media only screen and (min-width: 768px) {
    max-width: 768px;
    text-align: left;
    padding: 0;
    margin-left: 39px;
    height: 1024px;
    background-image: url('../assets/desktop/bg-pattern-dots.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
  }
}

.logo {
  margin-top: 62px;

  @media only screen and (min-width: 768px) {
    margin-top: 50px;
  }
}

.content {
  @media only screen and (min-width: 768px) {
    max-width: 635px;
    background-color: $near-black-background-color;
    // margin-bottom: 257px;
  }
}

.content__header {
  margin-top: 57px;
  font-size: 26px;
  text-transform: uppercase;
  color: $green-highlight-color;
  line-height: 38px;

  span {
    color: $white-color;
  }

  @media only screen and (min-width: 768px) {
    margin-top: 152px;
    padding-top: 93px;
    font-size: 48px;
    line-height: 56px;
  }
}

.content__body {
  margin-top: 16px;
  color: $lightest-grey-color;
  font-size: 15px;
  line-height: 25px;

  @media only screen and (min-width: 768px) {
    margin-top: 31px;
    font-size: 18px;
    line-height: 28px;
    max-width: 445px;
  }
}

.logo-submit-container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  @media only screen and (min-width: 768px) {
    max-width: 540px;
    flex-direction: column-reverse;
  }
}

.content__partner-logos {
  
  margin-top: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    max-height: 17px;
    width: auto;

    @media only screen and (min-width: 768px) {}

    max-height: 29px;
  }

  @media only screen and (min-width: 768px) {
    margin: 64px 0 0;
    max-width: 536px;
  }

}

#spotify-logo {
  width: 56px;
  height: 100%;

  @media only screen and (min-width: 768px) {
    width: 96px;
  }
}

#apple-podcasts-logo {
  width: 45px;
  height: 100%;

  @media only screen and (min-width: 768px) {
    width: 78px;
  }
}

#google-podcasts-logo {
  width: 73px;
  height: 100%;

  @media only screen and (min-width: 768px) {
    width: 125px;
  }
}

#pocket-casts-logo {
  width: 77px;
  height: 100%;

  @media only screen and (min-width: 768px) {
    width: 129px;
  }
}

.input-email-form {
  margin-top: 48px;
  max-width: 372px;
  @media only screen and (min-width: 768px) {
    max-width: 472px;
    display: flex;
    position: relative;
  }

  input {
    border: none;
    width: 100%;
    margin: 8px 0;
    height: 46px;
    padding: 0 32px;
    border-radius: 28px;
    background-color: $dark-grey-color;
    font-family: inherit;
    font-size: 14px;
    color: $white-color;
    
    &:focus {
      outline: none;
    }

    @media only screen and (min-width: 768px) {
      height: 56px;
      }
  }

  .input-email-form__email-input {
    @media only screen and (min-width: 768px) {
      width: 472px;
    }

  }

  .input-email-form__submit-button {
    background-color: $green-highlight-color;
    color: $near-black-background-color;

    &:hover {
        background-color: $button-hover-color;
    }

    @media only screen and (min-width: 768px) {
      width: 162px;
      height: 46px;
      position: absolute;
      top: 5px;
      bottom: 5px;
      right: 5px;
      margin: auto;

    }
  }
}